<% @assignment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
<%= form_for(@assignment) do |f| %>
		
	  <div id="assignment-description">
      	<%= f.label :description %><br>
      	<%= f.text_area :description%>
  	  </div>
  	  <div id="points">
      You have <%=current_user.points + @assignment.points %> points to use <br>
      <%= f.text_field :points%>
  	  </div>	
  	  <div id="subject">
  
 <%=f.label :subject%><br>
 <%= f.select :subsubject, options_for_select(subs), class:  'form-control' %><br>
</div>

      <%= f.submit "Create Post", class: "btn btn-primary" %>
 <% end %>