<% @assignment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
<%= form_for(@assignment) do |f| %>
		
	  <div id="assignment-description">
      	<%= f.label :description %><br>
      	<%= f.text_area :description%>
  	  </div>
  	  <div id="points">
      You have <%=current_user.points + @assignment.points %> points to use <br>
      <%= f.text_field :points%>
  	  </div>	
  	  <div id="subject">
   <%=f.label :subject%><br>
 <%= f.select :subject, options_for_select([["English", "English"], ["Math - General", "Math"],["-Calculus", "Calculus"], ["Biology - General", "Biology"],["-Microbiology", "Microbiology"],["Chemistry - General", "Chemistry"], ["-Organic Chemistry", "Organic Chemistry"], ["Physics - General", "Physics"], ["-Quantum Physics", "Quantum Physics"], ["History - General", "History"], ["-US History", "US History"]]) %>
</div>

      <%= f.submit "Create Post", class: "btn btn-primary" %>
 <% end %>