<% @assignment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
<%= form_for(@assignment) do |f| %>

      <%= f.label :description %>
      <%= f.text_field :description  %>

      You have <%=current_user.points %><%@p = current_user.points %><% @uid = current_user.id%>
      <%= f.label :points %>
      <%= f.text_field :points %>

      <%= f.submit "Create Post", class: "btn btn-primary" %>
 <% end %>