<% @assignment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
<%= form_for(@assignment) do |f| %>
		
	
      	<%= f.label :description %><br>
      	<%= f.text_area :description, placeholder: "descirbe your assignemnt here", class:  'form-control'%>
  	 
      You have <%=current_user.points %> 
      <%= f.label :points %> <br>
      <%= f.text_field :points, placeholder: "number of points", class:  'form-control'%>
  	   <%=f.label :subject%><br>
 <%= f.select :subsubject, options_for_select(subs), class:  'form-control' %>



      <%= f.submit "Create Post", class: "btn btn-primary" %>
 <% end %>